.midiDropdown {
    height: 100%;

    select {
        height: 100%;
        background-color: var(--color-neutral-300);
        color: var(--color-text);
        border: 0;
        font-size: 1rem;
        margin-left: 1rem;
    }

    p {
        height: 100%;
        display: grid;
        place-items: center;
        margin: 0 1rem;
        color: salmon;
        text-align: center;
    }
}
