.recordingTile {
    display: flex;
    flex-direction: column;
    height: 4.5rem;
    border-radius: 2px;
    position: relative;

    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: 2px solid rgba(255, 255, 255, 0);
        transition: all 0.3s;

        &:hover {
            border: 2px solid rgba(255, 255, 255, 0.4);
        }
    }

    p {
        margin: 0;
        font-size: 1.3rem;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    }

    .duration {
        font-size: 1rem;
    }

    button {
        position: absolute;
        right: 1rem;
        top: calc(50% - 0.85rem);
        border: 0;
        background-color: transparent;
        opacity: 0;
        transition: opacity 0.3s;
        cursor: pointer;

        svg {
            color: var(--color-yellow-700);
            -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
            font-size: 1.7rem;

            transition: color 0.3s;
        }

        &:hover {
            svg {
                color: white;
            }
        }
    }

    &:hover {
        button {
            opacity: 1;
        }
    }
}

.isStarred {
    button {
        opacity: 1 !important;
    }
}
