.layout {
    --header-height: 55px;
    --footer-height: 35px;

    main {
        width: 100vw;
        padding-top: 1rem;
        min-height: calc(100vh - var(--header-height) - var(--footer-height));
        padding-bottom: 50px;
    }

    footer {
        width: 100vw;
        height: var(--footer-height);

        background-color: var(--color-neutral-200);

        > div {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p {
            color: var(--color-neutral-700);
            margin: 0;
        }
    }

    .fullscreen {
        padding: 0;
    }
}
