.recording {
    height: calc(100vh - 55px - 35px);
    position: relative;
}

.title {
    form {
        width: 100%;
        position: absolute;
        top: 1rem;

        input {
            font-size: 2.5rem;
            background: none;
            border: none;
            width: 100%;
            text-align: center;
            padding: 0;
        }
    }

    h1 {
        text-align: center;
        font-weight: normal;
        font-size: 2.5rem;
        position: absolute;
        top: 1rem;
        width: 100%;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
        margin: 0;
        opacity: 1;
        transition: opacity 0.5s;
    }
}

.playingTitle {
    h1 {
        opacity: 0;
        transition: opacity 5s;
    }
}

.infoButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: 0;
    font-size: 2.5rem;
    border: 0;
    color: var(--color-neutral-800);
    cursor: pointer;
    border-radius: 50%;
    transition: color 0.3s;

    &:hover {
        color: #fff;
    }
}

.starButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: 0;
    font-size: 2.5rem;
    border: 0;
    color: var(--color-neutral-800);
    cursor: pointer;
    border-radius: 50%;
    transition: color 0.3s;

    &:hover {
        color: #fff;
    }
}

.playbackBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
}

.firstPlay {
    position: absolute;
    top: calc(40vh - 4rem);

    width: 100%;
    height: 8rem;

    display: grid;
    place-items: center;

    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);

    opacity: 1;
    transition: opacity 1s;

    p {
        font-size: 2rem;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    }
}
